


*{
    box-sizing: border-box;
    text-align: center;
}


h1 {
   font-size: 3rem;
   animation: fadeIn 3s;
}

div {
    background-color: #ffffff;
}

body {
    background: linear-gradient(12deg, #f77272, #fadede);
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.container {
    background: #ffffff;
    width: 480px;
    max-width: 500px;
    height: 20vh;
    padding: 0px;
    position:absolute;
    animation: fadeIn 2s;
}
/* Color and pointer for the li list */
li {
    list-style-type: none;
    font-size: 1.5rem;
    color: black;
    font-family: "Ariel", sans-serif;
    margin: 5%;
    cursor: pointer;
    position:relative;
    animation: addTodo 0.5s ease-in-out;
    transition: all 0.3s ease-in-out;
}

ul {
    background-color: #ffffff;
    border-color: #ffffff;
    padding: 5;
    

}
.completed {
    text-decoration: line-through;
    color:rgb(10, 4, 1)
}

.trashcan {
    font-size: 1.5rem;
    
}
 /* no line-through over trash can */
.completed .trashcan {
    text-decoration: none;
    display: inline-block;
}

.trashcan:hover {
    cursor: pointer;
}




